body {
  font-family: 'Niramit', sans-serif;
  font-size: 24px;
    background: #e8e8e8;
}

main {
  padding: 1rem;
}




.play, .view {
  .title {
    color: #fff;
  }
  padding: 4rem;
  font-family: 'Gothic A1', sans-serif;
  height: 100%;
  color: #fff;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );


  .score {
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    > div {
      margin-right: 40px;
      border-radius: 5px;
      padding: 0px 20px;
    }

    .name {
      display: flex;
      span {
        position: relative;
        font-size: 2rem;
        display: inline-block;
        line-height: 2rem;
        width: 30px;
        height: 36px;
        background: #1a1e22;
        margin: 2px;
        padding: 4px;
        border-radius: 4px;
        &::after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          background:rgba(0,0,0,0.2);
          width: 100%;
          height: 50%;
        }
      }
    }

    .points {
      font-size: 3.8rem;
    }
  }

  .title {
    font-size: 72px;
  }

  .button {
    font-size: 72px;
  }
}


.play {
  .stop-button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 100px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
  }

  .select-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
      margin-bottom: 1rem;
    }

    button {
      color: #fff;
      border: 0.3rem solid #fff;
      background: transparent;
    }
  }
}

.logo {
  position: fixed;
  left: calc(50% - 40vw);
  top: calc(50% - 30vh);
  width: 80vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.2;
}

.view {
  .destination {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .ytplayer {
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.27);
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.27);
    &--paused {
      visibility: hidden;
    }
   
  }
}

.dashboard {

  &__teams {
    width: 100%;

    th:last-child, td:last-child {
      width: 100%;
      text-align: right;
    }

    &-points-th {
      text-align: center !important;
    }
    &-points-td {
      display: flex;
      justify-content: space-between;
      text-align: center;
      &-counter {
        min-width: 50px;
      }
    }
  }
}


hr {
  background-color: rgba(0,0,0,0.1);
}